<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/css/home.css" />
        <title><%= title %></title>
    </head>
    <body>
        <h1 id=" page-heading">
            <span><i class="fa fa-address-book"></i> My Contact List</span>
        </h1>
        <div>
            <ul class="ulList">
                <div>
                    <% for (let i of contact_list) { %>
                    <li>
                        <div class="ListItems">
                            <p>Name : <%= i.name%></p>
                            <p>Phone : <%= i.phone%></p>
                        </div>
                        <!-- delete button -->
                        <div class="delete-button">
                            <a href="/delete-contact/?id=<%= i.id %>">
                                <i class="fa fa-times-circle"> Delete</i>
                            </a>
                        </div>
                    </li>
                    <% } %>
                </div>
            </ul>
        </div>

        <form id="new-contact-form" action="/create-contact" method="post">
            <input type="text" name="name" placeholder="Enter Name" required />
            <input
                type="number"
                name="phone"
                placeholder="Enter Phone"
                required
            />

            <button type="submit">Add Contact</button>
        </form>
        <script src="/js/home.js"></script>
    </body>
</html>
