html {
    box-sizing: border-box;
    background-color: blueviolet;
}
span {
    color: hsl(212, 52%, 43%);
}
li {
    background-color: aqua;
    border: 1px solid grey;
    margin: 2px;
    border-radius: 5px;
}
